  body {
      background: #bbd2c5;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #bbd2c5, #536976);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #bbd2c5, #536976);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      font-family: 'Open Sans', sans-serif;
  }

  .blink {
      -webkit-animation: colorchange 20s infinite alternate;
  }

  @-webkit-keyframes colorchange {
      0% {

          color: blue;
      }

      10% {

          color: #8e44ad;
      }

      20% {

          color: #1abc9c;
      }

      30% {

          color: #d35400;
      }

      40% {

          color: blue;
      }

      50% {

          color: #34495e;
      }

      60% {

          color: blue;
      }

      70% {

          color: #2980b9;
      }
      80% {

          color: #f1c40f;
      }

      90% {

          color: #2980b9;
      }

      100% {

          color: pink;
      }
  }

#important {
    font-size: 20px;
    font-weight: bold;
}

#empa {
    color: red;
}

#poitiers_start {
    font-family: 'Vollkorn', serif;
    font-size: 20px;
}


#caseandpoint:hover {
    color:azure;
    font-size: 26px;
}

#scortched_earth:hover {
    color:#E25822;
    font-size: 30px;
}

.dates:hover {
    color: blueviolet;
    font-size: 40px;
}

#fin:hover {
    font-size: 50px;
}

img {
    width: 400px;
    height: auto;
}

.longbow {
    font-size: 24px;
    color: red;
}

.crossbow {
    font-size: 24px;
    color: blue;
}